/*doc
---
title: Google Maps
name: google-maps
category: Maps-Google Maps
---

Styling for Google Maps

```html_example
<div class="large-map"></div>
<div class="medium-map"></div>
<div class="small-map"></div>

```

*/

#scpl {
	.large-map {
		height: 400px;
		margin: 1em 0;
	}

	.medium-map {
		height: 400px;
		margin: 1em 0;
	}

	.small-map {
		height: 200px;
		margin: 1em 0;
	}
}
